.home {
    padding: 100px 20px;
    margin: auto;
    &__form {
        background-color: rgb(35, 35, 35);
        padding: 30px;
        display: flex;
        flex-direction: column;
        color: white;
        width: 50%;
        position: relative;
        border-radius: 10px;
        margin: auto;
        button {
            margin: auto;
        }
    }
}